body {
    font-family: Arial, sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 40px;
}

#challenges {
    background-color: rgba(0, 128, 0, 0.8);
    padding: 40px;
    border-radius: 10px;
}
